/* Your styles go here */
iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: blur(20%)
}

.image-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
}
img{
   display: none
}

p {
  font-family: 'courir', monospace;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
  color:white;
  font-size: 20px;
}
p.one:hover + img{ 
   display: block;
}
