body{width: 270px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 35%;
    background-color: ;
    font-family: "helvetica";
}

h1 {font-size: 20px;
    color: white;
}
a:link {background-color: none;
    color:palevioletred;
    text-decoration: none;
}

a:visited {background-color: none;
    color:palevioletred;
    text-decoration: none;
}

a:hover {background-color: none;
    color: white;
	text-shadow: -2px -2px 5px palevioletred, 2px -2px 5px palevioletred,
	 -2px 2px 5px palevioletred, 2px 2px 5px palevioletred;
    text-decoration: none;
}

a:active {background-color: none;
    color: white;
	text-shadow: -1px -1px 3px palevioletred, 1px -1px 3px palevioletred,
	 -1px 1px 3px palevioletred, 1px 1px 3px palevioletred;
    text-decoration: none;
}