body {
    width: 600px;
    margin: 0 auto;
    font-family: "Times New Roman";
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    font-style: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;

}

p {
    text-align: center;
    padding: 10px;
    margin: 10px;
 }

div{
    margin-bottom: 15px;
    text-align: center;
}

ul {
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    align-content:center;
    width:700px;
}

li {
    float: left;
    margin:17px;
    text-align: center;
}
a:link {background-color: none;
    color:#b0b8c4;
    text-decoration: none;
}

a:visited {background-color: none;
    color:#b0b8c4;
    text-decoration: none;
}

a:hover {background-color: none;
    color: white;
	text-shadow: -2px -2px 5px #b0b8c4, 2px -2px 5px #b0b8c4,
	 -2px 2px 5px #b0b8c4, 2px 2px 5px #b0b8c4;
    text-decoration: none;
}

a:active {background-color: none;
    color: white;
	text-shadow: -1px -1px 3px #b0b8c4, 1px -1px 3px #b0b8c4,
	 -1px 1px 3px #b0b8c4, 1px 1px 3px #b0b8c4;
    text-decoration: none;
}

/*flicking and fade css*/

@keyframes flick {
    0% { opacity: 1;}
   100% { opacity: 0;}
  }
.flick{
  animation: flick 1s ease alternate 7 forwards;
}

@keyframes flick1 { 
    0% { opacity: 1;}
   100% { opacity: 0;}
  }
.flick1{
  animation: flick1 1s ease alternate infinite;
}

.white {color:white;}

/*spacing change css*/

.widebox {
    width:100%;
    text-align: center;
    letter-spacing: -6;}
.widebox2 {
    width:100%;
    text-align: center;
    letter-spacing: -3;}
.widebox3 {
    width:100%;
    text-align: center;
    letter-spacing: 10;}
.widebox4 {
    width:100%;
    text-align: center;
    letter-spacing: 40;}
.widebox5 {
    width:100%;
    text-align: left;
    letter-spacing: 100;}
.normal {
    letter-spacing: 0;
}

/*bluring fade css*/

@keyframes blur { 0% { filter: blur(0px);}
   100% { filter: blur(50px);}
  }
.blur {
  animation: blur 10s ease alternate 1 forwards;
  animation-delay: 2s;
}


/*getting darker css*/

.getdk {
    background-color: #ffffff;
    animation-name: getdk;
    animation-duration: 5s;
    animation-iteration-count: 1;
    transition-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes getdk {
    from {background-color: #ffffff;}
    to {background-color: #D0D0D0 ; }
}

.getdk2 {
    background-color: #D0D0D0;
    animation-name: getdk2;
    animation-duration: 5s;
    animation-iteration-count: 1;
    transition-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes getdk2 {
    from {background-color: #D0D0D0;}
    to {background-color: #989898 ; }
}

.getdk3 {
    background-color: #989898;
    animation-name: getdk3;
    animation-duration: 5s;
    animation-iteration-count: 1;
    transition-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes getdk3 {
    from {background-color: #989898;}
    to {background-color: #686868; }
}

.getdk4 {
    background-color: #686868;
    animation-name: getdk4;
    animation-duration: 5s;
    animation-iteration-count: 1;
    transition-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes getdk4 {
    from {background-color: #686868;}
    to {background-color: #303030; }
}

.getdk5 {
    background-color: #303030;
    animation-name: getdk5;
    animation-duration: 5s;
    animation-iteration-count: 1;
    transition-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes getdk5 {
    from {background-color: #303030;}
    to {background-color: #000000; }
}

/*falling down css*/

.fall {
    position:absolute;
    bottom: 10px;
}
.nomargin {margin: 0;}