.box {
  width: 33.3vw;
  height: 33.3vh;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1FBCD5;
}
.small{
  width:15%;
  height: 33.33%;
  margin: 0;
  background-color: #4250B5;
  position:absolute;
}
.lt {
  top: 0%;
  left: 0%;}
.rt {
  top: 0%;
  right: 0%;}
.ld {
  bottom: 0%;
  left: 0%;}
.rd {
  bottom: 0%;
  right: 0%;}

/* Your styles go here */
