body {
  background-color: black;
}

.frame {
    width: 1000px;
    height: 600px;
    background: #fcedfd;
    margin: 30px auto;
    position: relative;
}

/* Your CSS goes here */

.table {
    position: absolute;
    background: #cec5c5;
    width: 770px;
    height: 17px;
    bottom: 200px;
    left: 100px;
}

.table-cloth1 {
    content: ;
    background: gray;
    width: 500px;
    height: 200px;
    position: absolute;
    top:17px;
}
.table-cloth2 {
    content: ;
    background:#a09e9e;
    width: 270px;
    height:200px;
    position: absolute;
    top:17px;
    left:500px;
}

.vase-lower {
    background: white;
    width: 75px;
    height: 120px;
    position: absolute;
    bottom: 217px;
    left: 614px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.vase-upper {
    background: white;
    width: 35px;
    height: 90px;
    position: absolute;
    bottom: 280px;
    left: 633px;
    border-radius: 10px;
}


.book-bottom-right {
    position: absolute;
    background: white;
    width: 188px;
    height: 17px;
    bottom: 217px;
    left: 433px;
}
.book-bottom-left {
    position: absolute;
    background: #cdeaec;
    width: 170px;
    height: 17px;
    bottom: 217px;
    left: 268px;
}

.book-middle-right {
    position: absolute;
    background: white;
    width: 140px;
    height: 50px;
    bottom: 234px;
    left: 423px;
}
.book-middle-left {
    position: absolute;
    background: #51a1a7;
    width: 150px;
    height: 50px;
    bottom: 234px;
    left: 275px;
}

.book-top-right {
    position: absolute;
    background: white;
    width: 140px;
    height: 50px;
    bottom: 234px;
    left: 423px;
}
.book-top-left {
    position: absolute;
    background: #51a1a7;
    width: 150px;
    height: 50px;
    bottom: 234px;
    left: 275px;
}